{%extends "base/base.html" %}

{%block body%}



    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome to this Capstone Project!</h1> <br>
          <p>We are a facitious dermatologist located in Southern California. We specialize in the identification and treatment of skin cancer. <br><br> There are several tools available on this website to assist you learn more about your risk for various forms of skin cancer. <br><br> For our selected members, we also have a skin cancer pre-sceening machine learning algorithm that you can use from the comfort of your own home!</p>
          <p><a class="btn btn-primary btn-lg" href="/about_us/" role="button">Learn more about us &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Skin cancer risk groups</h2>
            <p>Are you interested in learning more about your risk for developing skin cancer? <br> </p>
            <p><a class="btn btn-secondary" href="/risk_group/" role="button">Learn more &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Pre-screening tool</h2>
            <p>Our select members are able to upload a picture of their questionable mole and within seconds determine if the mole is benign or should be followed up with one of our dermatologist. </p>
            <p><a class="btn btn-secondary" href="/cancer_screening/" role="button">Check it out! &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Our staff</h2>
            <p>Interested in learning more about our staff</p>
            <p><a class="btn btn-secondary" href="/about_us/" role="button">Click here &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>


{%endblock body%}



